.App {
  
  overflow-x: hidden;
}



.App-header {
  background-color: #193a58;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
 
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.table-cell-trucate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #031121!important;
}
.MuiButton-textPrimary {
  color: #fff;
  font-weight: bolder;
}
.MuiTableRow-root {
  color: inherit;
  display: table-row;
  outline: 0;
  vertical-align: middle;
  font-size: 13px;
  &:hover{
    background-color: #193a58;
  }
}

[class^="Component-horizontalScrollContainer-"] ::-webkit-scrollbar-thumb {
  border: 0.5px solid #031121;
  border-radius: 0.5px;
  background-color: rgba(0, 0, 0, .3);
}
.MuiTab-root.Mui-selected {
  color: #ea2330!important;
  border-bottom-color: #ea2330;
  border-bottom-style: double;
  border-bottom-width: thick;
  margin-right:10px;
}
.MuiInputLabel-root.MuiInputLabel-formControl {
  color:white;
}
.MuiInput-input.MuiInputBase-input{
  color: white;
}
.MuiInputLabel-root.MuiInputLabel-formControl.Mui-focused{
  color: whitesmoke;
}
.MuiRadio-root.MuiRadio-colorPrimary{
  color: white;
}
.MuiRadio-root.MuiRadio-colorPrimary.Mui-checked{
  color: white;
}
.MuiFormLabel-root.MuiFormLabel-colorPrimary{
  color: white!important;
}
.smallFont{
  font-weight:800;
  font-size:15px;
}
.underlinedBoldText{
  font-weight: 600;
  text-decoration: underline;
  font-size: 15px;
}
.link{
  color: antiquewhite;
}
.rightAlign{
  float:right;
}
.MuiCardContent-root {  
  padding: 5px 5px 1px 20px!important;
}
.standardMargin{
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.popular_destination .popular_cities .items .origin_destination:before, .popular_destination .recent_search .items .origin_destination:before {
  content: " ";
  position: absolute;
  background-color: #dbe3ef;
  padding: 3px;
  border-radius: 50%;
  top: 0;
  left: -4px;
}

.popular_destination .popular_cities .items .origin_destination:after, .popular_destination .recent_search .items .origin_destination:after {
  content: " ";
  background-color: #dbe3ef;
  padding: 3px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: -4px;
}
.elip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}









.bui-list__body {
  margin: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.bui-list__description {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  box-sizing: border-box
}

.hp_location_block__section_list_distance {
  color: #6b6b6b;
  white-space: nowrap;
}
.bui-list__item-action {
  margin-left: 16px;
}

@media (min-width: 992px){
  .bui-carousel--large .bui-carousel__item, .bui-carousel--larger .bui-carousel__item {
    width: -webkit-calc((100% - 32px)/3);
    width: calc((100% - 32px)/3);
}
}

@media (min-width: 576px){
.bui-carousel--large .bui-carousel__item {
    width: 42%;
}
}
.bui-carousel--large .bui-carousel__item {
    width: 64%;
}

.list-view-bui .bui-card-wl-hotel {
  margin: 0!important;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
}
.listview-hotel {
  position: relative;
  width: 885px;
  height: auto;
  min-height: 105px;
  margin-bottom: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 4px rgb(0 0 0 / 20%);
  box-shadow: 0 0 4px rgb(0 0 0 / 20%);
}
.bui-card--media {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 0;
}
.bui-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-color: #fff;
  color: #262626;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  padding: 16px;
}


.list-view-bui .bui-card-wl-hotel .bui-card__image-container {
  aspect-ratio: 27 / 20;
}
.bui-carousel .bui-card__image-container {
  height: auto;
}
.bui-card__image-container {
  position: relative;
  border-radius: 2px 2px 0 0;
  height: 240px;
  overflow: hidden;
}
[class^=bui-], [class^=bui-]:after, [class^=bui-]:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bui-card--media {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 0;
}
.bui-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-color: #fff;
  color: #262626;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  padding: 16px;
}

.list-view-bui .bui-card__header {
  min-height: 46px;
}
[class^=bui-], [class^=bui-]:after, [class^=bui-]:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bui-card--media {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 0;
}
.list-view-bui .bui-card__location-devider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 68px;
  margin: 0 -16px;
  padding: 8px 16px;
  border: 1px solid #e6e6e6;
  border-width: 1px 0 0;
}

.bui-card__score-divider {
  margin: 0 -16px;
  padding: 16px;
  border: 1px solid #e6e6e6;
  border-width: 1px 0 0;
}

.list-view-bui .bui-card__price-divider.has-genius-hotels {
  min-height: 175px;
}
.list-view-bui .bui-card__price-divider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 155px;
}

.bui-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}