.inputSpacing{
    margin-right: 10px!important;
    margin-left: 15px!important;
    margin-top: 2px!important;
    color: white!important;
}

.largeInput{
    margin-right: 15px!important;
}

.searchMainDiv{
    background: #ebf3ff;
    border-color: #a3d7fc;
    box-shadow: 0 0 8px #a3d7fc;
}